body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(240, 240, 240);
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;

  .device {
    margin: 5px;
    background: white;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid lightgrey;

    h3 {
      color: firebrick;
    }

    &#Shelves .sensors {
      column-count: 1;
    }
    &#ShoppingCarts .sensors {
      column-count: 2;
    }

    .sensors {
      column-gap: 40px;
      column-rule: 1px solid lightgrey;

      .sensor {
        width: 380px;
        padding: 5px 0;
        box-sizing: border-box;
        display: flex;

        span {
          font-weight: bold;
          padding: 1px 4px;
          border-radius: 2px;
          margin-left: auto;

          &.just-updated {
            background: orange;
          }
        }
      }
    }
  }
}

.form {
  border-radius: 5px;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  input {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  select {
    border-radius: 5px;
    display: block;
    width: 100%;
    outline: none;
    background: #f2f2f2;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    margin: 0 0 15px;
    padding: 10px 10px 10px 5px;
    text-overflow: '';

    &:hover {
        border-color: #cccccc;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }


  button {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
}