body {
  padding: 50px 50px 250px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(240, 240, 240);
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;

  .device {
    margin: 5px;
    background: white;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid lightgrey;

    h3 {
      color: firebrick;
    }

    &#Shelves .sensors {
      column-count: 1;
    }
    &#ShoppingCarts .sensors {
      column-count: 2;
    }

    .sensors {
      column-gap: 40px;
      column-rule: 1px solid lightgrey;

      .sensor {
        width: 380px;
        padding: 5px 0;
        box-sizing: border-box;
        display: flex;

        span {
          font-weight: bold;
          padding: 1px 4px;
          border-radius: 2px;
          margin-left: auto;

          &.just-updated {
            background: orange;
          }
        }
      }
    }
  }
}

.form {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 300px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid firebrick;
  background: darkgrey;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  input, select {
    border-radius: 5px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid lightgrey;
    margin: 0 0 15px 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  select {
    display: block;
    cursor: pointer;
    text-overflow: '';
  }

  button {
    border-radius: 5px;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 1px solid green;
    padding: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;

    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }
}